n8n/workflow.json
{
  "name": "YouTube Playlist Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "name": "Every 3 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1400,
        0
      ],
      "id": "every-3-minutes"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,contentDetails"
            },
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "playlistId",
              "value": "PASTE_PLAYLIST_ID_HERE"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Playlist Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1180,
        0
      ],
      "id": "get-playlist-items"
    },
    {
      "parameters": {
        "jsCode": "\n// Flatten the YouTube playlistItems response into one item per video.\nconst resp = items[0].json;\nconst vids = (resp.items || []).map(it => ({\n  json: {\n    video_id: it.contentDetails?.videoId || it.snippet?.resourceId?.videoId,\n    title: it.snippet?.title || '',\n    channel: it.snippet?.videoOwnerChannelTitle || it.snippet?.channelTitle || '',\n    added_at: it.snippet?.publishedAt || new Date().toISOString(),\n  }\n})).filter(v => v.json.video_id);\nreturn vids;\n"
      },
      "name": "Extract Videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        0
      ],
      "id": "extract-videos"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Videos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -740,
        0
      ],
      "id": "loop-videos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/97628e5e1e12481eb3541af829e2ebbe/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({filter: {property: 'Video ID', rich_text: {equals: $json.video_id}}, page_size: 1}) }}",
        "options": {}
      },
      "name": "Notion Dedupe Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        100
      ],
      "id": "notion-dedupe-query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is New Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        100
      ],
      "id": "is-new-video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://yt-helper:8077/video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({video_id: $('Loop Videos').item.json.video_id}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Fetch Video Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        200
      ],
      "id": "fetch-video-data",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "\n// Input: yt-helper response. Builds the Notion create-page body and the Gemini request body.\nconst v = $json;\nconst loopItem = $('Loop Videos').item.json;\nconst CATEGORIES = [\"Homelab\", \"Home Automation\", \"AI\", \"Networking\", \"3D Printing\", \"Software Development\", \"Hardware\", \"Other\"];\n\n// --- Notion create body ---\nconst props = {\n  'Name': { title: [{ text: { content: (v.title || 'Untitled').slice(0, 2000) } }] },\n  'Video ID': { rich_text: [{ text: { content: v.video_id } }] },\n  'Channel': { rich_text: [{ text: { content: (v.channel || '').slice(0, 2000) } }] },\n  'Video URL': { url: `https://www.youtube.com/watch?v=${v.video_id}` },\n  'Duration': { rich_text: [{ text: { content: v.duration_string || '' } }] },\n  'Status': { select: { name: 'Processing' } },\n  'Date Added': { date: { start: loopItem.added_at } },\n};\nif (v.upload_date) props['Upload Date'] = { date: { start: v.upload_date } };\n\nconst notion_create = {\n  parent: { database_id: '97628e5e1e12481eb3541af829e2ebbe' },\n  cover: { type: 'external', external: { url: v.thumbnail_url } },\n  properties: props,\n};\n\n// --- Gemini body ---\nconst MAX_CHARS = 600000; // stay well under free-tier 250K TPM\nlet transcript = v.transcript || '';\nlet truncated = false;\nif (transcript.length > MAX_CHARS) { transcript = transcript.slice(0, MAX_CHARS); truncated = true; }\n\nconst prompt = [\n  'You are analyzing a YouTube video to build a structured knowledge-base entry.',\n  '',\n  `VIDEO TITLE: ${v.title}`,\n  `CHANNEL: ${v.channel}`,\n  '',\n  'VIDEO DESCRIPTION (verbatim, may contain links):',\n  v.description || '(no description)',\n  '',\n  'LINKS FOUND IN DESCRIPTION:',\n  (v.description_links || []).join('\\n') || '(none)',\n  '',\n  transcript\n    ? 'FULL TRANSCRIPT' + (truncated ? ' (truncated)' : '') + ':\\n' + transcript\n    : 'NO TRANSCRIPT AVAILABLE. Base your analysis on the title and description only, and say so in the summary.',\n  '',\n  'INSTRUCTIONS:',\n  '1. summary: 2-4 paragraph summary of what the video covers and its key takeaways.',\n  '2. key_points: 4-10 concise bullet points of the most important information.',\n  `3. category: exactly one of: ${CATEGORIES.join(', ')}.`,\n  '4. topics: 2-8 short tags (1-3 words each) for filtering, e.g. \"Docker\", \"Proxmox\", \"3D Printing\".',\n  '5. items: every distinct product, GitHub repo, tool, service, or article DISCUSSED in the video.',\n  '   For each item: name; type (repo|product|service|article|other); context (one sentence on how it was discussed);',\n  '   url: if one of the description links clearly belongs to this item, use that link EXACTLY as written.',\n  '   Otherwise provide the official homepage or repository URL if you are confident you know it; set url to null if unsure.',\n  '   url_source: \"description\" if taken from the description links, \"model\" if from your knowledge, \"none\" if null.',\n  'Return ONLY valid JSON matching the schema. No markdown fences.',\n].join('\\n');\n\nconst gemini_body = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: {\n    temperature: 0.3,\n    response_mime_type: 'application/json',\n    response_schema: {\n      type: 'OBJECT',\n      properties: {\n        summary: { type: 'STRING' },\n        key_points: { type: 'ARRAY', items: { type: 'STRING' } },\n        category: { type: 'STRING' },\n        topics: { type: 'ARRAY', items: { type: 'STRING' } },\n        items: {\n          type: 'ARRAY',\n          items: {\n            type: 'OBJECT',\n            properties: {\n              name: { type: 'STRING' },\n              type: { type: 'STRING' },\n              context: { type: 'STRING' },\n              url: { type: 'STRING', nullable: true },\n              url_source: { type: 'STRING' },\n            },\n            required: ['name', 'type', 'context'],\n          },\n        },\n      },\n      required: ['summary', 'key_points', 'category', 'topics', 'items'],\n    },\n  },\n};\n\nreturn [{ json: { notion_create, gemini_body, video: v } }];\n"
      },
      "name": "Prepare Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        200
      ],
      "id": "prepare-requests"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.notion_create) }}",
        "options": {}
      },
      "name": "Create Notion Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        200
      ],
      "id": "create-notion-entry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Prepare Requests').item.json.gemini_body) }}",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Gemini Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        200
      ],
      "id": "gemini-summarize",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "\n// Parse Gemini output, resolve repo URLs via GitHub search, verify all URLs with HEAD checks.\nconst resp = $json;\nlet text = resp?.candidates?.[0]?.content?.parts?.[0]?.text || '';\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/, '').replace(/```\\s*$/, '').trim();\n\nlet parsed;\ntry { parsed = JSON.parse(text); }\ncatch (e) { throw new Error('Gemini returned unparseable JSON: ' + text.slice(0, 300)); }\n\nconst video = $('Prepare Requests').item.json.video;\nconst descLinks = new Set(video.description_links || []);\n\nasync function head(url) {\n  try {\n    await this.helpers.httpRequest({ method: 'HEAD', url, timeout: 10000 });\n    return true;\n  } catch (e) {\n    // Some servers reject HEAD; try a lightweight GET before declaring dead\n    try {\n      await this.helpers.httpRequest({ method: 'GET', url, timeout: 10000,\n        headers: { 'Range': 'bytes=0-256' } });\n      return true;\n    } catch (e2) { return false; }\n  }\n}\n\nasync function githubSearch(name, context) {\n  try {\n    const q = encodeURIComponent(name);\n    const r = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.github.com/search/repositories?q=${q}&per_page=1`,\n      headers: { 'User-Agent': 'yt-pipeline', 'Accept': 'application/vnd.github+json' },\n      timeout: 15000,\n    });\n    const hit = (typeof r === 'string' ? JSON.parse(r) : r)?.items?.[0];\n    return hit?.html_url || null;\n  } catch (e) { return null; }\n}\n\nconst out = [];\nlet hasUnverified = false;\n\nfor (const item of (parsed.items || [])) {\n  let url = item.url || null;\n  let verified = false;\n  let source = item.url_source || (url ? 'model' : 'none');\n\n  if (url && descLinks.has(url)) {\n    verified = true; source = 'description';           // creator-provided: trusted\n  } else {\n    if (!url && (item.type === 'repo')) {\n      url = await githubSearch.call(this, item.name, item.context);\n      if (url) source = 'github-search';\n    }\n    if (url) verified = await head.call(this, url);\n  }\n\n  if (!url || !verified) {\n    hasUnverified = true;\n    if (!url) url = 'https://www.google.com/search?q=' + encodeURIComponent(item.name);\n  }\n  out.push({ name: item.name, type: item.type, context: item.context, url, verified, source });\n}\n\nreturn [{ json: {\n  page_id: $('Create Notion Entry').item.json.id,\n  video,\n  summary: parsed.summary || '',\n  key_points: parsed.key_points || [],\n  category: parsed.category || 'Other',\n  topics: parsed.topics || [],\n  resolved_items: out,\n  has_unverified: hasUnverified,\n}}];\n"
      },
      "name": "Parse + Resolve Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ],
      "id": "parse-and-resolve-links"
    },
    {
      "parameters": {
        "jsCode": "\n// Build the Notion properties patch and the page-body block batches.\nconst d = $json;\nconst CATEGORIES = [\"Homelab\", \"Home Automation\", \"AI\", \"Networking\", \"3D Printing\", \"Software Development\", \"Hardware\", \"Other\"];\nconst chunk = (s, n = 2000) => { const o = []; for (let i = 0; i < (s || '').length; i += n) o.push(s.slice(i, i + n)); return o; };\nconst para = (t) => ({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: t } }] } });\nconst h2 = (t) => ({ object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: t } }] } });\nconst bullet = (rich) => ({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: rich } });\nconst txt = (t, link = null) => ({ type: 'text', text: { content: t, ...(link ? { link: { url: link } } : {}) } });\n\nconst properties = {\n  'Status': { select: { name: 'Done' } },\n  'Category': { select: { name: CATEGORIES.includes(d.category) ? d.category : 'Other' } },\n  'Topics': { multi_select: (d.topics || []).slice(0, 10).map(t => ({ name: String(t).slice(0, 100) })) },\n  'Has Unverified Links': { checkbox: !!d.has_unverified },\n};\n\nconst main = [];\nmain.push({ object: 'block', type: 'video',\n  video: { type: 'external', external: { url: `https://www.youtube.com/watch?v=${d.video.video_id}` } } });\n\nmain.push(h2('Summary'));\nchunk(d.summary).forEach(c => main.push(para(c)));\n\nmain.push(h2('Key Points'));\n(d.key_points || []).forEach(k => main.push(bullet([txt(String(k).slice(0, 2000))])));\n\nmain.push(h2('Items & Links'));\nif ((d.resolved_items || []).length === 0) main.push(para('No specific items identified.'));\n(d.resolved_items || []).forEach(it => {\n  const rich = [];\n  if (it.verified) {\n    rich.push(txt(it.name, it.url));\n    rich.push(txt(` (${it.type}) - ${it.context}`.slice(0, 1800)));\n  } else {\n    rich.push(txt(`\\u26A0\\uFE0F ${it.name} (unverified)`, it.url));\n    rich.push(txt(` (${it.type}) - ${it.context}`.slice(0, 1800)));\n  }\n  main.push(bullet(rich));\n});\n\n// Description toggle (children nested in same payload)\nconst descChunks = chunk(d.video.description || '');\nif (descChunks.length) {\n  main.push({ object: 'block', type: 'toggle',\n    toggle: { rich_text: [txt('Full Description')], children: descChunks.slice(0, 80).map(para) } });\n}\n\n// Batches: main blocks first, then transcript in toggles of up to 80 chunks each\nconst batches = [{ page_id: d.page_id, children: main }];\nconst tChunks = chunk(d.video.transcript || '');\nif (tChunks.length === 0) {\n  batches[0].children.push(para('No transcript available for this video.'));\n} else {\n  const per = 80;\n  const nTog = Math.ceil(tChunks.length / per);\n  for (let i = 0; i < nTog; i++) {\n    const label = nTog > 1 ? `Full Transcript (${i + 1}/${nTog})` : 'Full Transcript';\n    batches.push({ page_id: d.page_id, children: [{ object: 'block', type: 'toggle',\n      toggle: { rich_text: [txt(label)], children: tChunks.slice(i * per, (i + 1) * per).map(para) } }] });\n  }\n}\n\nreturn [{ json: { page_id: d.page_id, properties, batches } }];\n"
      },
      "name": "Build Notion Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        200
      ],
      "id": "build-notion-update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({properties: $json.properties}) }}",
        "options": {}
      },
      "name": "Update Properties",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        200
      ],
      "id": "update-properties"
    },
    {
      "parameters": {
        "jsCode": "\n// One output item per block batch so the append node runs sequentially per batch.\nreturn $json.batches.map(b => ({ json: b }));\n",
        "mode": "runOnceForAllItems"
      },
      "name": "Split Block Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        200
      ],
      "id": "split-block-batches"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.page_id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({children: $json.children}) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 400
            }
          }
        }
      },
      "name": "Append Page Blocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ],
      "id": "append-page-blocks",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {},
      "name": "Finished",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -520,
        -140
      ],
      "id": "finished"
    }
  ],
  "connections": {
    "Every 3 Minutes": {
      "main": [
        [
          {
            "node": "Get Playlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Items": {
      "main": [
        [
          {
            "node": "Extract Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Videos": {
      "main": [
        [
          {
            "node": "Loop Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Videos": {
      "main": [
        [
          {
            "node": "Finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion Dedupe Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Dedupe Query": {
      "main": [
        [
          {
            "node": "Is New Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Video?": {
      "main": [
        [
          {
            "node": "Fetch Video Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Video Data": {
      "main": [
        [
          {
            "node": "Prepare Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Requests": {
      "main": [
        [
          {
            "node": "Create Notion Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Entry": {
      "main": [
        [
          {
            "node": "Gemini Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summarize": {
      "main": [
        [
          {
            "node": "Parse + Resolve Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Resolve Links": {
      "main": [
        [
          {
            "node": "Build Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion Update": {
      "main": [
        [
          {
            "node": "Update Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Properties": {
      "main": [
        [
          {
            "node": "Split Block Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Block Batches": {
      "main": [
        [
          {
            "node": "Append Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Page Blocks": {
      "main": [
        [
          {
            "node": "Loop Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {}
}